@import "fonts.css";

:root {
    --main-red-color: #C44536;
    --list-color: #EDDDD4;
    /* 
    var(--main-red-color)
    var(--list-color)
    */
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif ;
    padding-top: 60px;
}

.header-flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    
    background-color: white;
}

 .header-logo {
    height: 90px ;
    margin-top: 82px;
    margin-left: 40px;
    
}

nav ul {
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;

    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-family: Roboto-Medium;
}

nav ul li a {
    margin: 0 8px;
    border: 20px solid white;
    background-color: white;
    transition: background-color 0.35s, border 0.35s;
}

nav ul li a:hover {
    border: 26px solid rgb(247, 246, 246);
    background-color: rgb(247, 246, 246);
}

.momentalni_stranka{
    border: 26px solid #dbdfdc !important;
    background-color: #dbdfdc !important;
}

.header-text-outline {
    margin-right: 50px;
    width: 290px;
}

.header-text-logo {

    border-left: 2px solid var(--main-red-color);
    border-right: 2px solid var(--main-red-color);
    padding: 15px;
    color: var(--main-red-color);
    font-family: Roboto-Bold;
    font-size: 30px;
    text-align: center;
}

 .prouzek {
    background-color: var(--main-red-color);
    height: 58px;
    width: 100%;
}