body {
    padding: 0;
    margin: 0;
}

:root {
    --main-red-color: #C44536;
    --text-color: #283D3B;
    --list-color: #EDDDD4;
    /* 
    var(--main-red-color)
    var(--text-color)
    var(--list-color)
    */
}

header {
    background-color: white;
    height: 60px;
    width: 100%;
    position:fixed;
}

.prouzek {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--main-red-color);
    height: 3.5rem;
}

header img {
    position:fixed;
    width: 300px;
    height: 90px;
    margin-left: 5em;
    margin-top: 1.7em;
}

.logo_text {
    position: fixed;
    right: 3em;
    border: 2px solid var(--main-red-color);
    padding: 6px;
    border-radius: 5px;
    color: var(--main-red-color);
    margin: 0.1em 0;
}

ul {
    padding: 0;
}

nav ul {
    position: fixed;
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    margin: 1.3em 0;
}

.navbar {
    text-align: center;
}

nav ul li {
    display: inline;
    border: 1.33em solid white;
    background-color: white;
}

.momentalni_stranka{
    border: 1.3em solid #d4d9d5;
    background-color: #d4d9d5;
}

nav ul a {
    text-decoration: none;
    color: var(--text-color);
}

.background_foto {
    height: 500;
    width: 100%;
    background-image: url(../images/background_foto.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 100vh;
}